.project
.DS_Store
**/*.o
inst/bin/
inst/include/
inst/lib/
inst/share/
inst/Python-3.5.3/
inst/python/__pycache__/
**/*.so
src/Makevars

.pydevproject
.settings

*.tar.gz

..Rcheck/

*.Rproj*
.Rproj.user
.RData
.Rhistory
